/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

.clr {
	clear: both;
}

body {
	width: 100%;
	background:url(../images/background.JPG);
}

.top {
	width: 100%;
	height: 90px;
	padding: 20px 0px;
}

.top img {
	padding-left: 20px;
}

.menu {
	width: 100%;
	height: 50px;
	background:#0C6;
}

ul.tab {
	list-style-type: none;
	display: block;
}

ul.tab li {
	display: inline;
	font-size: 17px;
	font-weight: bold;
	line-height: 50px;
}

ul.tab li a, ul.tab li a:visited {
	display: block;
	float: left;
	text-decoration: none;
	width: 200px;
	text-align: center;
}

ul.tab li a:hover, ul.tab li a:active {
	display: block;
	float: left;
	text-decoration: none;
	background-color:#03F;
}

ul.tab li.divider {
	display: inline;
	width: 2px;
	height: 40px;
	background-color:#300;
	margin-top:5px;
	float: left;
}

.divider_2_panel {
	width: 100%;
	height: 10px;
	background-color:#300;
}

.content .content_left {
	float: left;
	width: 20%;
	min-height: 500px;
	background-color:#9FF;
}

.content .content_left .menu_vertical {
	border: 2px solid #600;
	height: 302px;
	margin: 10px;
}

.content  .title {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
}

.content .content_left .divider {
	width: 80%;
	height: 2px;
	background-color:#300;
	text-align: center;
	margin: 10px 0 0 25px;
}

.content .content_left .ver_menu li{
	width: 100%;
	height: 40px;
	text-align: center;
}

.content .content_left .ver_menu li a{
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.content .content_left .ver_menu li a:hover, .content .content_left .ver_menu li a:active{
	display: block;
	width: 100%;
	height: 20px;
	background-color:#666;	
	text-decoration: none;
}

.content .content_right {
	float:left;
	width: 80%;
	min-height: 500px;
	background-color:#CCC;
}

.content .content_right .panel1 {
	float: left;
	margin: 25px;
	width: 20%;
	height: 200px;
	border: 1px solid #300;
}